In [ ]:
import pymysql
import pandas as pd
from datetime import datetime

# -------------------------------
# Sample data to store in MySQL
# -------------------------------
data = pd.DataFrame({
    "customer_id": ["C001", "C002", "C003", "C004", "C005"],
    "product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Printer"],
    "quantity": [1, 2, 1, 3, 1],
    "timestamp": [
        "2025-11-16 10:15:00",
        "2025-11-16 11:20:00",
        "2025-11-16 12:30:00",
        "2025-11-16 13:45:00",
        "2025-11-16 14:50:00"
    ],
    "store": ["Muscat Store", "Seeb Store", "Salalah Store", "Nizwa Store", "Sohar Store"]
})

# -------------------------------
# Connect to MySQL database
# -------------------------------
central_db_connection = pymysql.connect(
    host="localhost",       # replace with your host
    user="root",            # replace with your MySQL username
    password="root",    # replace with your MySQL password
    database="central_db"   # replace with your database name
)

cursor = central_db_connection.cursor()

# -------------------------------
# Create table if it doesn't exist
# -------------------------------
create_table_query = """
CREATE TABLE IF NOT EXISTS consolidated_transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id VARCHAR(255),
    product VARCHAR(255),
    quantity INT,
    timestamp DATETIME,
    store VARCHAR(255)
);
"""
cursor.execute(create_table_query)

# -------------------------------
# Insert data into MySQL table
# -------------------------------
insert_query = """
INSERT INTO consolidated_transactions (customer_id, product, quantity, timestamp, store)
VALUES (%s, %s, %s, %s, %s);
"""

for _, row in data.iterrows():
    cursor.execute(insert_query, tuple(row))

central_db_connection.commit()
central_db_connection.close()

print("Data successfully stored in the central MySQL database.")